.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  text-align: center;
}

.logo {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  img {
    height: 3em;
  }
}

.description {
  flex: 1;
}

.images {
  flex: 2;
  position: relative;
}

.application {
  transform: scale(1.2);
}

.revue, .application {
  max-width: 46%;
  margin: 1%;
}