.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  text-align: center;
}

.title {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.description {
  flex: 1;
}

.videoContainer {
  flex: 2;
  position: relative;
  
  video {
    max-width: 100%;
    width: 500px;
    margin: 1%;    
  }
}
