.name {
  font-weight: 100;

  :first-child {
    font-family: var(--font-serif);
    display: block;
    letter-spacing: 0.1em;
  }

  :last-child {
    display: block;
    transform: rotate(180deg);
    opacity: 0.5;
  }
}