@import "../../styles/theme.css";

:root {
  --light2: hsl(0, 0%, 81%, 50%);

  overflow: hidden;
}

:global {
  #root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 10px;
    padding-top: 50px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .react-icons  {
      font-size: 1.6em;
    }

    .back {
      display: flex;
      align-items: center;
      justify: stretch;
      min-width: 100px;
      padding: 1em;
    }

    .flexpand {
      flex: 1;
    }

    button {
      position: relative;
      min-width: 100px;
      height: calc(100% - 8px);
      margin: 4px 10px;

      &.print {
        min-width: 60px;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .section-title {
    text-transform: uppercase;
    color: var(--light2);
    font-weight: 300;
  }
  
  .title {
    color: var(--yellow);
    font-weight: 400;
    opacity: 0.8;
    hyphens: auto;
    word-wrap: break-word;
  }
  
  .dates {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0 0.3em;
  }
  
  .location {
    font-weight: 400;
    font-size: 0.8em;
  }
  
  .stack {
    text-transform: uppercase;
    color: var(--light2);
    font-size: 0.8em;
  }

  .wrapper {
    max-width: 900px;
    margin: 4vh auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 66% 1fr;
    grid-gap: 10px 30px;
    grid-auto-rows: minmax(50px, auto);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }

  .two {
    grid-column: 2;
    grid-row: 1;
  }

  .three {
    grid-column: 1;
    grid-row: 2;
  }

  .four {
    grid-column: 2;
    grid-row: 2;
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
      grid-template-columns: 100%;
    }

    .one {
      grid-column: 1;
      grid-row: 1;
      margin-right: inherit;
    }

    .two {
      grid-column: 1;
      grid-row: 2;
    }

    .three {
      grid-column: 1;
      grid-row: 3;
      margin-right: inherit;
    }

    .four {
      grid-column: 1;
      grid-row: 4;
      display: grid;
      grid-template-columns: 50% 50%;

      & .section-title {
        grid-column: 1 / 3;
      }
    }
  }
}
