@import '../../styles/theme.css';

:global {
  #root {
    padding: inherit;
    padding-top: inherit;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  a {
    color: inherit;
  }

  body {
    color: inherit;
    background-color: inherit;
  }

  .title {
    color: var(--turquoise);
  }
}